.choosensymbol {
	height: 200px;
	i {
		font-size: 130px;
	}
}
.winner i{
	color: green;
}
.loser {
	color: red;
}
.score {
	font-size: 20px;
}
.endgame {
	/*position: absolute;*/
	height: 200px;
	width: 500px;
	margin: auto;
}